* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #1C1F25;
    overflow-x: hidden;
}

.navbar {
    position: sticky;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.navsvg svg {
    width: 108px;
    height: 44px;
}

.navsvg svg {
    width: 108px;
    height: 32px;
}

.navanchors ul {
    width: 573px;
    height: 44px;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 32px;
}

.navanchors a:hover {
    color: #fff;
}

.navanchors a {
    font-size: 12px;
    font-family: inter;
    color: #959699;
    text-decoration: none;
    font-weight: 800;
    padding: 0 20px;
}

.navbutton {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.navbutton button {
    padding: 10px 20px;
    background-color: #212732;
    border: 1px solid #333333;
    border-radius: 10px;
    color: #ffffffcc;
    font-size: 13px;
    font-family: Inter;
    font-weight: 800;
}

#btn-getstarted {
    background-color: #1574EF;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 10px 3.5rem;

}

.hero-btn {
    width: max-content;
    display: flex;
    cursor: pointer;
}


.hero-btn #assh {
    padding: 12px 20px;
    background: linear-gradient(#441C7B, #812E9F);
    border-radius: 35px;
    box-shadow: inset 0 0 6px 3px #441C7B,
        inset 0 0 0 1px rgba(255, 255, 255, 0.658);
    font-size: 14px;
    font-family: inter;
    color: #fff;
    z-index: 100;
}



.hero-btn #learnmore {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 20px;
    background-color: #16191E;
    border-radius: 0 35px 35px 0;
    box-shadow: inset 0 0 6px 1px #131519,
        inset 0 0 0 1px #131519;
    margin: 0 0 0 -12px;
    font-size: 14px;
    font-family: inter;
    color: #ECECEC;
}

.hero-btn #learnmore:hover {
    justify-content: space-around;
    background-color: #0c0e10;
}

.herowrapper h1 {
    font-size: 100px;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
}

.herowrapper .auto-type {
    font-size: 80px;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
}

.herowrapper strong {
    font-size: 100px;
    font-weight: 800;
    font-family: sans-serif;
    color: #69F5FF;
}

.herooutline p {
    font-size: 18px;
    color: #ffffffcc;
    font-family: inter;
    line-height: 1.8;
    text-transform: capitalize;
}