* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: extbold;
    src: url(./assets/font/extbold.ttf);
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #1C1F25;
    overflow-x: hidden;
    /* position: relative; */
}

.navbar {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 24px; */
    background-color: transparent;
}

.navsvg {
    display: flex;
    align-items: center;
    width: 20%;
    height: 72px;
}

.navsvg svg {
    width: 108px;
    height: 32px;
}

.navanchors {
    width: 40%;

}

.navanchors ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navanchors a:hover {
    color: #fff;
}

.navanchors a {
    font-size: 13px;
    font-family: inter;
    color: #959699;
    text-decoration: none;
    font-weight: 800;
    padding: 0 20px;
}

.navbutton {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.navbutton button {
    padding: 10px 20px;
    background-color: #212732;
    border: 1px solid #333333;
    border-radius: 10px;
    color: #ffffffcc;
    font-size: 13px;
    font-family: Inter;
    font-weight: 800;
    cursor: pointer;
}

.navbutton button:hover {
    background: #282F44;
    color: #fff;
}


#btn-getstarted {
    background-color: #1574EF;

}

#btn-getstarted:hover {
    background-color: #1389FD;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 10px 3.5rem;

}

.hero-btn {
    width: max-content;
    display: flex;
    cursor: pointer;
}


.hero-btn #assh {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#441C7B, #812E9F);
    border-radius: 35px;
    box-shadow: inset 0 0 6px 2px #441C7B,
        inset 0 0 0 1px rgba(255, 255, 255, 0.658);
    font-size: 14px;
    font-family: Manrope;
    color: #fff;
    font-weight: 700;
    z-index: 100;
    text-align: center;
}

.hero-btn:hover #assh {
    background: linear-gradient(#441C7B, #bb19f7);
    box-shadow: inset 0 0 1px 0px #f9f9f917,
        inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}


.hero-btn #learnmore {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 20px;
    background-color: #16191E;
    border-radius: 0 35px 35px 0;
    box-shadow: inset 0 0 6px 1px #131519,
        inset 0 0 0 1px #131519;
    margin: 0 0 0 -12px;
    font-size: 14px;
    font-family: inter;
    color: #ECECEC;
}

.hero-btn:hover #learnmore {
    justify-content: space-around;
    background-color: #111316;
    box-shadow: inset 0 0 6px 2px #16191E,
        inset 0 0 0 2px #16191E;
}

.herowrapper {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.herowrapper h1 {
    font-size: 100px;
    font-weight: 800;
    font-family: extbold;
    color: #fff;
}

.herowrapper .auto-type {
    position: absolute;
    /* display: block; */
    font-size: 100px;
    font-weight: 800;
    font-family: extbold;
    color: #fff;

}

.herowrapper strong {
    font-size: 100px;
    font-weight: 800;
    font-family: extbold;
    color: #69F5FF;
}

.herooutline p {
    font-size: 18px;
    color: #ffffffcc;
    font-family: inter;
    line-height: 1.8;
    text-transform: capitalize;
}

.btn-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 3rem 24px;
}

.wrapper-header {
    text-align: center;
    padding: 2rem 0;
}

.wrapper-header h3 {
    font-size: 46px;
    font-weight: 500;
    font-family: Manrope;
    color: #fff;
}

.wrapper-header strong {
    font-size: 46px;
    font-family: Manrope;
    color: #69F5FF;
}

.wrapper-navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem 0;
}

.wrapper-navigation ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 13px;
    font-family: Inter;
    color: #9e9e9e;
    font-weight: 800;
    cursor: pointer;

}

.wrapper-navigation ul li {
    padding-block: 10px;
    border-bottom: 2px solid #1C1F25;
}

#active {
    border-bottom: 2px solid #69F5FF;
}

.wrapper-navigation li:hover {
    border-bottom: 2px solid #69F5FF;
}

.wrapper-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 1rem 6rem;
}

.btn-container {
    width: 240px;
    height: 76px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #22252B;
    gap: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-container:hover {

    border: 2px solid #69F5FF;
    background-color: #1C1F25;
}

.btn-svg svg {
    width: 28px;
    height: 28px;
}

.btn-content p {
    color: #CACBCD;
    font-size: 14px;
    font-family: inter;
    font-weight: 600;
}

.btn-content span {
    color: #959699;
    font-size: 11.9px;
    font-family: inter;
    font-weight: 600;
}

.fang-wrapper {
    width: 100%;
    background: rgb(41, 27, 48);
    background: linear-gradient(90deg, rgba(41, 27, 48, 1) 27%, rgba(35, 31, 49, 1) 53%, rgba(24, 40, 50, 1) 85%);
    height: 500px;
    position: relative;
    padding: 2rem;
}

.fang-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 640px;
    height: 180px;
    background-image: url('./assets/section-bg-nebula-pink.png');
    background-size: cover;
    background-position: left center;
    z-index: 2;
}

.fang-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 480px;
    height: 180px;
    background-image: url('./assets/section-bg-nebula-blue.png');
    background-size: cover;
    background-position: right center;
    z-index: 2;
}

.content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.fang-header h3 {
    font-size: 32px;
    font-family: Manrope;
    text-align: center;
    color: #ffff;
    font-weight: 200;
}

.fang-header strong {
    font-weight: 800;
}

.fang-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fang-icons ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.fang-icons img {
    width: 106px;
    height: 36px;
}

.assist-container {
    width: 100%;
    background: #F1F4F8;
    padding: 2rem 3rem;
}

.assist-header {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 0;
}

.assisticon i {
    font-size: 22px;
    color: #1B82BC;
    background: transparent;
    padding: 0 10px 0 0;
}

.assisticon h5 {
    font-size: 16px;
    font-family: Inter;
    color: #1B82BC;
    text-transform: lowercase;
    font-weight: 600;
}

.assist-heading {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.assist-heading h1 {
    font-family: Inter;
    font-size: 72px;
    font-weight: bolder;
    letter-spacing: -2px;
    color: #000000;
}

.assist-span p {
    font-size: 17px;
    font-family: inter;
    color: #48494A;
    line-height: 2;
}

.assist-span span {
    font-size: 17px;
    font-family: inter;
    color: #000003;
    font-weight: 700;
}

.bug-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F1F4F8;
    padding: 2rem 0 3rem 3rem;
    gap: 100px;
}

.bug-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.bug-content h1 {
    font-size: 44px;
    font-family: Manrope;
    font-weight: 500;
}

.bug-img img {
    width: 600px;
    height: auto;
}

.bug-span {
    font-size: 16px;
    font-family: Inter;
    color: #48494A;
    line-height: 2;
    padding: 2rem 0;
}

.bug-span a {
    color: #1574EF;
}

.bug-span span {
    color: #000003;
    font-weight: 700;
}

.doc-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F1F4F8;
    padding: 2rem 3rem 3rem 0;
    gap: 100px;
}

.doc-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.doc-header h1 {
    font-size: 44px;
    font-family: Manrope;
    font-weight: 500;
}

.doc-img {
    width: 692px;
}

.doc-img img {
    width: 100%;
    height: auto;
}

.doc-span {
    font-size: 16px;
    font-family: Inter;
    color: #48494A;
    line-height: 2;
    padding: 2rem 0;
}

.doc-span a {
    color: #1574EF;
}

.doc-span span {
    color: #000003;
    font-weight: 700;
}

.autorqote {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #fff;
    padding: 8rem 4rem;
    gap: 70px;
}

.autorimage {
    display: flex;
    position: relative;
}

.autorimage img {
    width: 84px;
    height: 84px;
    border-radius: 70px;

}

.autor-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 70px;
    position: absolute;
    bottom: -10px;
    background: #fff;
    right: -2rem;
    border: 10px solid #fff;
}

.autor-icon img {
    width: 34px;
    height: 34px;

}

.qoute {
    max-width: 612px;
    font-size: 24px;
    font-family: Inter;
    line-height: 1.6;
    color: #000000;
    font-weight: 400;
}

.qoute span {
    color: #000003;
    font-weight: 700;
}

.qoute-content {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: Inter;
    padding-top: 2rem;
    gap: 1.5rem;
}

.qoute-content strong {
    color: #000003;
    font-weight: 700;
}

.qoute-content span {
    font-size: 14px;
    color: #48494A;
    font-weight: 400;
}

.edge-container {
    width: 100vw;
    /* height: 1000px; */
    background: #16181D;
    position: relative;
    padding: 4rem 3rem;
}

.edge-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 840px;
    height: 440px;
    background-image: url('./assets/section-bg-cyan.png');
    background-size: contain;
    z-index: 2;
}

.edge-header {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 0;
}

.edge-icon {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.edge-icon svg {
    max-width: 22px;
    height: 22px;
}

.edge-icon h5 {
    font-size: 16px;
    font-family: Manrope;
    color: #4cedff;
    text-transform: lowercase;
    font-weight: 600;
}

.edge-heading {
    width: 900px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.edge-heading h1 {
    font-family: Manrope;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #fff;
}

.edge-heading strong {
    color: #4cedff;
}

.webcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 4rem 0;
}

.web-card {
    /* height: 0px; */
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* justify-content: space-around; */
    background: #fff;
    border-radius: 6px;
    padding: 32px 36px 0;
}

.webcard-header {
    font-size: 30px;
    font-family: Inter;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.webcard-header strong {
    font-family: extbold;
    font-weight: 800;
}

.web-content {
    /* width: 50%; */
    font-size: 16px;
    font-family: inter;
    line-height: 2;
    color: #ffffffcc;
}

.web-content strong {
    font-weight: 800;
    color: #ffff;
}

.webcard-hover {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    gap: 18px;
}

.webcard-hover span {
    font-size: 16px;
    font-family: Inter;
    color: #00a8db;
    font-weight: 800;
}

.ides-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 4rem 0;
}

.ides-content {
    max-width: 670px;
    font-size: 16px;
    font-family: inter;
    line-height: 2;
    color: #ffffffcc;
    padding: 1rem 0;
}

.ides-content h3 {
    font-size: 40px;
    font-family: Manrope;
    color: #fff;
    margin-bottom: 30px;
}

.ides-content strong {
    font-weight: 800;
    color: #ffff;
}

.ides-content p {
    margin-bottom: 20px;
    padding: 10px 0;
}

.ides-table {
    font-size: 12px;
    font-family: inter;
    color: #ffffffcc;
    border-collapse: collapse;
    width: 100%;
    font-weight: 800;
    margin-bottom: 2rem;
}

.ides-table th,
.ides-table td {
    padding: 20px 26px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .12);
    vertical-align: middle;
    line-height: 1.8;
}


.ides-table th {
    font-weight: 800;

}

.ides-table #td-2 {
    text-align: left;
}

.ides-table #td-1 {
    background: #131519;
    border: 1px solid rgba(255, 255, 255, .12);
    border-top: none;
}

*/ .check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check i {
    /* margin-right: 5px; */
}

.check p {
    margin: 0;

}

/* -------------------------------------------------------Git-qoute------------------------------------------ */
#git-author {
    background: #131519;
}

#git-qoute p {
    color: #fff;
}

#git-qoute p span {
    color: #fff;
    font-weight: 800;
}

#git-author strong {
    color: #fff;
}