* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: extbold;
    src: url(./assets/font/extbold.ttf);
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #1C1F25;
    overflow-x: hidden;
    /* position: relative; */
}

.navbar {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 24px; */
    background-color: transparent;
}

.navsvg {
    display: flex;
    align-items: center;
    width: 20%;
    height: 72px;
}

.navsvg svg {
    width: 108px;
    height: 32px;
}

.navanchors {
    width: 40%;

}

.navanchors ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navanchors a:hover {
    color: #fff;
}

.navanchors a {
    font-size: 13px;
    font-family: inter;
    color: #959699;
    text-decoration: none;
    font-weight: 800;
    padding: 0 20px;
}

.navbutton {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.navbutton button {
    padding: 10px 20px;
    background-color: #212732;
    border: 1px solid #333333;
    border-radius: 10px;
    color: #ffffffcc;
    font-size: 13px;
    font-family: Inter;
    font-weight: 800;
    cursor: pointer;
}

.navbutton button:hover {
    background: #282F44;
    color: #fff;
}


#btn-getstarted {
    background-color: #1574EF;

}

#btn-getstarted:hover {
    background-color: #1389FD;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 10px 3.5rem;

}

.hero-btn {
    width: max-content;
    display: flex;
    cursor: pointer;
}


.hero-btn #assh {
    padding: 12px 20px;
    background: linear-gradient(#441C7B, #812E9F);
    border-radius: 35px;
    box-shadow: inset 0 0 6px 3px #441C7B,
        inset 0 0 0 1px rgba(255, 255, 255, 0.658);
    font-size: 14px;
    font-family: inter;
    color: #fff;
    font-weight: 700;
    z-index: 100;
}



.hero-btn #learnmore {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 20px;
    background-color: #16191E;
    border-radius: 0 35px 35px 0;
    box-shadow: inset 0 0 6px 1px #131519,
        inset 0 0 0 1px #131519;
    margin: 0 0 0 -12px;
    font-size: 14px;
    font-family: inter;
    color: #ECECEC;
}

.hero-btn #learnmore:hover {
    justify-content: space-around;
    background-color: #111316;
}

.herowrapper {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.herowrapper h1 {
    font-size: 100px;
    font-weight: 800;
    font-family: extbold;
    color: #fff;
}

.herowrapper .auto-type {
    position: absolute;
    /* display: block; */
    font-size: 100px;
    font-weight: 800;
    font-family: extbold;
    color: #fff;

}

.herowrapper strong {
    font-size: 100px;
    font-weight: 800;
    font-family: extbold;
    color: #69F5FF;
}

.herooutline p {
    font-size: 18px;
    color: #ffffffcc;
    font-family: inter;
    line-height: 1.8;
    text-transform: capitalize;
}

.btn-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 24px;
}

.wrapper-header {
    text-align: center;
}

.wrapper-header h3 {
    font-size: 46px;
    font-weight: 500;
    font-family: Manrope;
    color: #fff;
}

.wrapper-header strong {
    font-size: 46px;
    font-family: Manrope;
    color: #69F5FF;
}

.wrapper-navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.wrapper-navigation ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 13px;
    font-family: Inter;
    color: #9e9e9e;
    font-weight: 800;
}

#active {
    padding-block: 10px;
    border-bottom: 2px solid #69F5FF;
}

.btn-container {
    width: 240px;
    height: 76px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #22252B;
    gap: 4px;
}

.btn-svg svg {
    width: 28px;
    height: 28px;

}